* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #23252C;
    
}

.container {
    align-items: center;
    padding: 45px 115px;
}

.body-img {
    display: flex;
    height: 315px;
    width: 315px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0%;
    padding-bottom: 0px;
}

.main-div {
    width: 315px;
    height: 400px;
    background-color: #1A1B21;
    margin-top: 0%;
    padding-top: 0px;
    align-items: center;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
}

.main-up > h1 {
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
}

.main-up > h3 {
    color:#F3BF99;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.main-up > a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    text-align:center;
    padding-top: 8px;
}

.btn-div {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: center;
    padding-bottom: 20px;
}

.btn-mail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-top: 20px 30px;
    width: 115px;
    height: 35px;
    border-radius: 6px;
    text-align:center;
    margin-right:16px;
}

.btn-lkdin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-top: 20px 30px;
    width: 115px;
    height: 35px;
    border-radius: 6px;
    background-color: #5093E2;
    color: white;

}

.main-div > h2 {
    font-family: 'Inter';
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 0%;
    /* padding-top: 25px; */
}

.main-div > p {
    padding-top: 0%;
    margin-top: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: white;
}

.foot-sec {
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
    width: 315px;
    height: 65px;
    left: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foot-icon-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
}

.foot-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.foot-icon-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 70px;
}

